/* global stylesheet */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: "Andale Mono", courier, monospace;
    font-size: 1.5rem;
}

header {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #fff;
    background: url('/assets/images/vhs-bands.gif') 0 0 repeat;
    background-size: contain;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
}

header a {
    display: block;
    margin: 20px 0 0 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;    
}

@media (min-width: 767px) {
    header a {
        margin: 20px 5px 0 5px;
        padding: .5rem 1rem;
    }
}



header a:hover {
    text-decoration: underline;
}

header a.active {
    margin-top: 30px;
    text-decoration: line-through;
}

header a.active:hover {
    text-decoration: none;
}

header li.logo a {
    width: 68px;
    height: 60px;
    margin-top: 0;
    padding: 0;
    background-image: image-set('/assets/images/header-icon-face.gif' 1x, '/assets/images/header-icon-face@2x.gif' 2x);
    background-position: 50% 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

footer  {
    margin-top: auto;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: .75rem;
}

article {
    width: 80%;
    margin: 2rem auto;
}

#content    {
    padding: 1rem 2rem 2rem 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination a   {
    display: block;
    margin: 1rem;
    padding: .5rem 1rem;
    background: #666;
    color: #efefef;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.pagination a:hover {
    background: #ccc;
    color: #000;
}