/* ----- 
    global stylesheet -----           */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    /*font-family: "Andale Mono", courier, monospace;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}

article {
    width: 100%;
    margin: 1rem auto;
}

#content    {
    padding: 0 2rem 2rem 2rem;
    
}

/* ----- 
    header & footer styles -----           */


header {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #fff;
    background: url('/assets/images/vhs-bands.gif') 0 0 repeat;
    background-size: contain;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
}

header a {
    display: block;
    margin: 30px 5px 0 5px;
    padding: 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;    
}

header a:hover {
    text-decoration: underline;
}

header a.active {
    margin-top: 42px;
    text-decoration: line-through;
}

header a.active:hover {
    text-decoration: none;
}

header li.logo a {
    width: 68px;
    height: 60px;
    margin-top: 0;
    padding: 0;
    background-image: image-set('/assets/images/header-icon-face.gif' 1x, '/assets/images/header-icon-face@2x.gif' 2x);
    background-position: 50% 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

footer  {
    margin-top: auto;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: .75rem;
}


/* ----- 
    pagination styles -----           */


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination a   {
    display: block;
    margin: 1rem;
    padding: .5rem 1rem;
    background: #666;
    color: #efefef;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.pagination a:hover {
    background: #ccc;
    color: #000;
}

@media (min-width: 767px) {
    header {
        a {
            margin: 20px 5px 0 5px;
            padding: .5rem 1rem;
            font-size: 1.5rem;
        }

        a.active {
            margin-top: 30px;
        }
    }

    article {
        width: 80%;
        margin: 2rem auto;
    }
    #content    {
        padding: 1rem 2rem 2rem 2rem;
    }
}

/* ----- 
    gallery styles -----           */

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.gallery li {
    margin: 0;
    padding: 0;
    /* height: 40vh; */
    flex-grow: 1;
}

.gallery li:last-child {
    flex-grow: 10;
}

.gallery img {
    max-height: 100%;
    min-width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
    .gallery li {
      height: 30vh;
    }
}

@media (max-height: 480px) {
    .gallery li {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .gallery ul {
      flex-direction: row;
    }
  
    .gallery li {
      height: auto;
      width: 50%;
    }
  
    .gallery img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
}



