/* about page styles */

h1  {
    display: none;
}

h2  {
    margin: 0;
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75rem;
    font-style: italic;
    background: #000;
    color: #fff;
}

#content a   {
    color: #000;
    font-weight: bold;
}

#content a:visited {
    color: #666;
}

@media (min-width: 767px) {
    article h2 {
        font-size: 2.5rem;
    }
}