/* about page styles */

article {
    margin-top: 350px;
}

h1  {
    display: none;
}

h2  {
    margin: 0;
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background: #000;
    color: #fff;
}

#content a   {
    color: #000;
    font-weight: bold;
}

#content a:visited {
    color: #666;
}

#photostrip {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#photostrip img {
    height: 300px;
}