/* homepage-specific styles */

body {
    margin: 0;
    padding: 0;
    font-family: "Andale Mono", courier, monospace;
    font-size: 1.5rem;
    background: url('/assets/images/bg-animated-white.gif') 50% 0% no-repeat #000;
}


#home-container {
    height: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

#home-content {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    min-height: 600px;
    background-image: image-set('/assets/images/home-me.gif' 1x, '/assets/images/home-me@2x.gif' 2x);
    background-position: 50% 0;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    display: none;
}

nav {
    margin-top: auto;
    margin-bottom: 1.25rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 .5rem 0;
}

a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: #000;
}

a:hover {
    background: #333;
}

p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    background: #000;
    font-size: .8rem;
}