/* photos page styles */

body {
    background: #000;
    color: #fff;
}

article {
    width: 100%;
    margin-top: 0;
}

article h1 {
    display: none;
}

article ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
article li {
    margin: 0;
    padding: 0;
    /* height: 40vh; */
    flex-grow: 1;
}

article li:last-child {
    flex-grow: 10;
}

article img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
    article li {
      height: 30vh;
    }
}

@media (max-height: 480px) {
    article li {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    article ul {
      flex-direction: row;
    }
  
    article li {
      height: auto;
      width: 50%;
    }
  
    article img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
}

@media (hover: hover) {
    article img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    article img:hover {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;
    }
}