/* photos page styles */

body {
    background: #000;
    color: #fff;
}

article {
    width: 100%;
    margin-top: 0;
}

article h1 {
    display: none;
}

@media (hover: hover) {
    .gallery img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    .gallery img:hover {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;
    }
}