/* photos page styles */

body {
    background: #000;
    color: #fff;
}

article {
    width: 100%;
    margin-top: 0;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery li {
    box-sizing: border-box;
    width: 25%; /* four-up grid by default */
    padding: 0.25rem;
}

.gallery img {
    display: block;
    width: 100%;
    height: auto;
}

article h1 {
    display: none;
}

@media (hover: hover) {
    .gallery img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    .gallery img:hover {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;
    }
}