/* single photo page styles */

article h1 {
    text-align: center;
}

article h1, article p {
    width: 90%;
    margin: 0 auto 1rem auto;
    text-align: center;
}

#photos img {
    max-width: 100%;
    margin-bottom: 1rem;
}

figure.youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 0 auto 1rem auto;
}

figure.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (min-width: 767px) {
    article h1, article p {
        width: 100%;
        margin-bottom: 1.25rem;
    }
}
