/* single photo page styles */

article h1 {
    text-align: center;
}

article h1, article p   {
    width: 90%;
    margin: 0 auto 1rem auto;
    text-align: center;
}

#photos img {
    max-width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 767px) {
    article h1, article p   {
        width: 100%;
        margin-bottom: 1.25rem;
    }
}