/* single project styles */

article {
    width: 90%;
    margin: 1rem auto;
}

article a   {
    color: #000;
    font-weight: bold;
}

article a:visited {
    color: #666;
}

h1 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

h3 {
    padding: 1rem;
    text-align: center;
    background-color: #000;
    color: #fff;
}

h4 {
    padding: 1rem;
    text-align: center;
    background-color: #666;
    color: #fff;
}

.text dl  {}

.text dt  {
    float: left;
    clear: left;
    width: 2rem;
    text-align: left;
    font-weight: bold;
}

.text dt::after {
    content: ":";
}

.text dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

.text ul, .text li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
}

.comma-list li {
    display: inline;
}

.comma-list li::after {
    content: ", ";
}

.comma-list li:last-child::after {
    content: "";
}

.project-text figure {
    margin: 1rem 0;
}
.project-text img {
    max-width: 100%;
}

.video iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.gist {
    margin-bottom: 10%;
}

  /* https://stackoverflow.com/a/1517228/7532 */

@media (min-width: 767px) {
    article {
        width: 80%;
        margin: 2rem auto;
    }
}


