/* single project styles */

h1 {
    text-align: center;
}

article a   {
    color: #000;
    font-weight: bold;
}

article a:visited {
    color: #666;
}

.text dl  {}

.text dt  {
    float: left;
    clear: left;
    width: 2rem;
    text-align: left;
    font-weight: bold;
}

.text dt::after {
    content: ":";
}

.text dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

.text ul, .text li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
  }
  
  .comma-list li {
    display: inline;
  }
  
  .comma-list li::after {
    content: ", ";
  }
  
  .comma-list li:last-child::after {
      content: "";
  }
  /* https://stackoverflow.com/a/1517228/7532 */

@media (min-width: 767px) {
    
}


