/* projects page styles */

h1  {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

h2  {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    color: #666;
}

.projects-wrapper div {
    margin: .5rem;
    padding: .5rem;
}

.projects-wrapper a {
    display: block;
    color: #000;
    font-weight: bold;
    background: #efefef;
    text-decoration: none;
}

.projects-wrapper a:hover {
    background: #ccc;
}

.projects-wrapper img {
    margin-right: .5rem;
    vertical-align: middle;
}

@media (min-width: 767px) {
    .projects-wrapper {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

/*
.projects-wrapper {
    width: 100%;
    display: flex;
}

.project {
    display: block;
    height: 50px;
    width: 33%;
    flex: auto;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    background: #efefef;
}

.project img {
    width: 50px;
    height: 50px;
    flex: 1 1 auto;
}

.project span {
    margin-top: auto;
    padding: .5rem;
}
*/

/*
@media (min-width: 767px) {
    .projects-wrapper div   {
        flex-basis: 33.333333%;
        max-width: 33.333333%;
    }
}
*/