/* projects page styles */

h1  {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

h2  {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    color: #666;
}

.projects-wrapper {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.projects-wrapper div {
    display: flex;
    align-items: center;
    padding: .25rem;
}

.projects-wrapper a {
    display: flex;
    align-items: center;
    flex: 1;
    color: #000;
    font-weight: bold;
    background: #efefef;
    text-decoration: none;
}

.projects-wrapper a:hover {
    background: #ccc;
}

.projects-wrapper img {
    width: 150px;
    height: 150px;
    margin-right: .5rem;
}

.projects-wrapper span {
    word-wrap: break-word;
}

@media (min-width: 767px) {
    .projects-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
