.project-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6rem;
}

.project-info {
    line-height: 1.5em;
}

.project-text {
    margin-bottom: 1.5rem;
}

.project-info dt {
    font-weight: bold;
}

.project-gallery ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 1.5rem;
}

.project-gallery li:first-child {
    grid-column-start: 1;
    grid-column-end:  -1;
}

.project-gallery img {
    width: 100%;
}